<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>%invoice_title%</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        %css%
    </style>
</head>

<body>
    <div id="holderFixed">

        <p align="center">
            <img src="http://taco.haus/clubjboj2022.png" width="150" />
        </p>

        <div class="border">
            <div class="borderSection pad">
                <h1>Overview</h1>

                <table width="100%">
                    <tr>
                        <th><b>Billing Party</b></th>
                        <th><b>Bill To</b></th>
                        <th><b>Details</b></th>
                    </tr>
                    <tr>
                        <td width="33%" valign="top">
                            <b>%company.title%</b><br />
                            %company.address%
                        </td>
                        <td width="33%" valign="top">
                            <b>%client.title%</b><br />
                            %client.address%
                        </td>
                        <td width="34%" valign="top">
                            <b>%project.title%</b><br />
                            Invoiced on %date%
                        </td>
                    </tr>
                </table>
            </div>
            <div class="borderSection borderSectionTop pad">
                <h1>Invoice</h1>

                <table width="100%">
                    <thead>
                        <tr>
                            <th width="50%">Line Item</th>
                            <th width="18%">Rate</th>
                            <th width="12%">Units</th>
                            <th width="20%">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        %rate_types%
                        <tr style="font-weight:bold;">
                            <td valign="top" colspan="3" style="vertical-align: middle;"
                                class="textRight">
                                %due_date%
                            </td>
                            <td valign="top">
                                <div class="totalFocus">
                                    %total%
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="sunk columns2575">
                <div class="textRight">
                    <h4>Payment Instructions</h4>
                </div>
                <div>
                    %client.instructions%
                </div>
            </div>
            <div class="pad borderSectionTop">
                <h1>%collection.title%</h1>

                <table width="100%" style="font-size:90%;">
                    <thead>
                        <tr>
                            <th width="100">Task No.</th>
                            <th width="">Task</th>
                            <th width="155">Rate Type</th>
                            <th width="60">Hrs</th>
                        </tr>
                    </thead>
                    <tbody>
                        %stories%
                    </tbody>
                </table>
            </div>
        </div>

        <div class="invoiceFooter">This invoice was generated by <a
                href="https://github.com/jbelelieu/atos" target="_blank">ATOS
                software</a>.</div>
    </div>
</body>

</html>